# Python 3.11 | PyAny
flask
flask-admin
flask-assets
flask-login
flask-sqlalchemy
flask-wtf
pillow
python-dotenv
requests
requests-file
gitpython
email_validator
dnspython
sqlalchemy
werkzeug
wtforms
