@mixin theme-color {
  --back-1: var(--paleblue);
  --back-2: var(--lightblue);
  --back-3: var(--paleyellow);
  --bord-1: var(--steelblue);
  --bord-2: var(--emerald);
  --bord-3: var(--azure);
  --text-1: var(--charcoal);
  --text-2: var(--slate);
  --text-3: var(--greyblue);
}

@mixin theme-dark {
  --back-1: var(--black);
  --back-2: var(--darkgrey);
  --back-3: var(--grey);
  --bord-1: var(--darkgrey);
  --bord-2: var(--grey);
  --bord-3: var(--lightgrey);
  --text-1: var(--white);
  --text-2: var(--lightgrey);
  --text-3: var(--grey);
}

@mixin theme-light {
  --back-1: var(--white);
  --back-2: var(--lightgrey);
  --back-3: var(--grey);
  --bord-1: var(--lightgrey);
  --bord-2: var(--grey);
  --bord-3: var(--darkgrey);
  --text-1: var(--black);
  --text-2: var(--darkgrey);
  --text-3: var(--grey);
}

:root {
  --black: #383838;
  --darkgrey: #666;
  --grey: #999;
  --lightgrey: #d8d8d8;
  --white: #e8e8e8;

  --paleblue: #F0F4F8;
  --lightblue: #D9E2EC;
  --paleyellow: #FEFCBF;
  --steelblue: #9FB3C8;
  --emerald: #48BB78;
  --azure: #4299E1;
  --charcoal: #2D3748;
  --slate: #4A5568;
  --greyblue: #718096;

  --blue: lightblue;
  --brown: #db8;
  --green: lightgreen;
  --red: pink;
  --orange: orange;
  --cyan: cyan;
  --magenta: magenta;
  --yellow: yellow;
  color-scheme: dark light;
  @include theme-dark;
}

[theme="color"] {
  @include theme-color;
}

[theme="dark"] {
  @include theme-dark;
}

[theme="light"] {
  @include theme-light;
}

.back-1 {
  background-color: var(--back-1);
}

.back-2 {
  background-color: var(--back-2);
}

.back-3 {
  background-color: var(--back-3);
}

.btn-1 {
  background-color: var(--btn-1);
  color: var(--black);
}

.btn-2 {
  background-color: var(--btn-2);
  color: var(--black);
}

.btn-3 {
  background-color: var(--btn-3);
  color: var(--black);
}

.bord-1 {
  border-color: var(--bord-1);
}

.bord-2 {
  border-color: var(--bord-2);
}

.bord-3 {
  border-color: var(--bord-3);
}

.text-1 {
  color: var(--text-1);
}

.text-2 {
  color: var(--text-2);
}

.text-3 {
  color: var(--text-3);
}

.blue {
  background-color: var(--blue);
}

.brown {
  background-color: var(--brown);
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}

.cyan {
  color: var(--cyan) !important;
}

.magenta {
  color: var(--magenta) !important;
}

.yellow {
  color: var(--yellow) !important;
}