.tabs ul {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

.tabs {
  overflow-x: hidden;
}

.tabs ul {
  border-bottom-color: var(--brown);
}

.tabs ul li a {
  background-color: var(--back-2) !important;
  border-bottom-color: transparent;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border: 2px solid var(--back-3);
}

#tab-current-user + li {
  margin-left: 10px;
}

.tab-link + li {
  margin-left: 5px;
}

.tabs li.is-active a {
  background-color: var(--back-3) !important;
  border: 2px solid darkorange;
}

.column,
.columns {
  max-width: 100%;
}

.card {
  background-color: var(--back-1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: calc(var(--size)*1.25);
  max-width: 100%;
  overflow: hidden;
  padding: 10px;
  width: var(--size);
}

@media (max-width: 468px) {
  .card {
    height: auto;
    min-height: var(--size);
    width: 100%;
  }
}

@media screen and (max-width: 360px) and (min-height: 740px) {
  .card {
    margin: 0 auto;
    width: 95%;
  }
}

@media screen and (max-width: 359px) and (max-height: 739px) {
  .card {
    margin: 0 auto;
    width: 85%;
  }
}

.card-header,
.card-content,
.card-footer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-footer a {
  flex: 1;
}

.card-header,
.card-content,
.card-footer {
  flex: 0;
}

.card-header {
  align-items: flex-start;
  border-bottom: 1px solid var(--bord-2)
}

.card-header p {
  color: var(--text-1) !important;
  display: flex;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.card-header,
.card-header p {
  margin-bottom: 1px;
}

.card-content {
  padding: 2px;
}

.card-content a {
  color: var(--magenta) !important;
  margin-bottom: auto;
}

.card-image {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  overflow: hidden;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.card-footer,
.card-footer a {
  margin-top: 5px;
}

.card-footer a:not(:last-child) {
  margin-right: 5px;
}

.card.is-bought {
  opacity: 0.7;
  position: relative;
  z-index: 10;
}

.card.is-bought::after {
  background: rgba(0,0,0,0.5);
  border-radius: 8px;
  color: var(--red);
  content: attr(data-bought);
  font-family: 'Lino Stamp';
  font-size: var(--huge);
  font-weight: 900;
  left: 50%;
  padding: 0 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -55%) rotate(-45deg);
  z-index: 2;
}

.card.is-not-buyer {
  opacity: 0.5;
}

.card-add {
  position: relative;
}

.card-header .description,
.textarea {
  max-height: 7em;
  min-height: 6em;
  overflow-y: auto;
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.textarea,
.input {
  font-size: var(--large);
}

.card-form {
  padding: 10px !important;
}

.columns.is-centered {
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.column.is-narrow {
  flex: 0 0 auto;
  max-width: 400px;
  width: auto;
}

@media (max-width: 768px) and (orientation: portrait) {
  .column.is-narrow {
    width: 100%;
  }
}

@media (max-width: 468px) and (orientation: portrait) {
  .column.is-narrow {
    min-width: 400px;
  }
}

.display .button {
  background-color: var(--green) !important;
}

.control.has-addons .button {
  flex-grow: 1;
}

.box .topic:not(:first-of-type) {
  margin-top: 20px;
}

.button {
  z-index: 0;
}

.modal .button {
  margin-bottom: 20px;
  margin-top: 0;
}

.columns {
  background-color: var(--back-2);
  border-radius: 20px;
}

.is-static {
  opacity: 0;
}
